.about-container {
  padding-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.about-title {
  line-height: 0.9;
  display: flex;
  align-items: center;
}

.about-title::before {
  content: "";
  width: 8px;
  height: 80px;
  background-color: var(--c2);
  margin-right: 8px;
}

.about-text {
  margin-top: 16px;
}

@media(max-width: 1000px) {
  .about-container {
    grid-template-columns: 1fr;
  }

  .about-container>* {
    width: 100%;
  }
}

@media(max-width: 800px) {
  .about-container {
    padding-top: 60px;
  }
}

@media(max-width: 392px) {
  .about-title::before {
    height: 120px;
  }
}

@media(max-width: 343px) {
  .about-title::before {
    height: 160px;
  }
}